*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/acharaya1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 10;

}

.navbar{
    background-color: #2754ba;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
     /* flex-wrap: none; */
}
.navigation a{
    position: relative;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    /* color: #f19008; */
}

.navigation a::after{
    content: '';
    position:absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    background-color: #f19008;
}
.navigation a:hover{
    color: #f19008;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1); 
}

.navigation .login_popup{
    width: 110px;
    height: 40px;
    background: transparent;
    border: 2px solid #f19008;
    border-radius: 6px;
    margin-left: 40px;
    color: #f19008;
    font-size: 1.1rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
}


.navbar img{
    background-color: aliceblue;
    padding: 5px;
}

.wrapper{
    position:relative;
    left: 40%;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter:blur(20px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease ,height .2s ease;
    transform: scaleX(0);
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
     transition: transform .18s ease;
     transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
} 

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
} 

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:#2754ba ;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2rem;
    color: #f19008;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #2754ba;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    color: #f19008;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #f19008;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #f19008;
    line-height: 57px;
}

.remember-forget{
    font-size: .9rem;
    color: #f19008;
    font-weight: 500;
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: #2754ba;
    margin-right: 3px;
}
.remember-forget a{
    color: #f19008;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #2754ba;
    border: none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.login-register{
    font-size: .9rem;
    text-align: center;
    color: #f19008;
    margin: 25px 0 10px 0 ;
    font-weight: 500;
}

.login-register p a{
    color: #f19008;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}



/* #f22{
    width:80%;
    margin-left: 85px;
    margin-top : 150px;
    height: 350px;
    text-align: center;
    border:solid gray 2px;
    background-color: white;
    color: black;
} */
/* #f1{
    width:50%;
    float: left;
   
}

#f11{
    width:76%;
    margin-left: 85px;
    margin-top : 150px;
    height: 350px;
    text-align: center;
    border:solid gray 2px;
    background-color: white;
    color: black;
}

 input,textarea{
    width: 40%;
    border: 2px solid gray;
    padding: 5px;
}
button{
    border: 2px solid gray;
    width: 20%;
    color: black;
    font-size: larger;
    padding: 10px;
    background-color: gainsboro;
    cursor:pointer;
}
label{
    font-size: larger;
    
}
.clearfix{
    clear:both;
} */